Boa noite, sr Rúbens! Como vai o senhor? Segue as aulas que tivemos com o Guilherme e o João no mês de abril:

Guilherme

1 hora - 01/04
1 hora - 02/04
1h30 - 06/04
1 hora - 14/04
1 hora - 19/04
1 hora - 23/04
1 hora - 27/04
1 hora - 28/04
Total de horas: 8h30
Valor total: 8.5h x R$120 = R$1.020

João

1 hora - 01/04
2 horas - 02/04
2 horas - 03/04
1 hora - 11/04
Total de horas: 6 horas
Valor total: R$170 x 8h = R$1020